.button_1
{
	background: $black;
	color: #fff !important;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-weight: 700;
	padding: 20px 24px;
	text-align: center;
}

.button_2
{
	background: $grey;
	color: $grey_dark;
	cursor: pointer;
	font-family: inherit;
	font-weight: 700;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
}

.button_3
{
	background: #fff;
	color: $black;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-weight: 700;
	padding: 20px 24px;
	text-align: center;
}

.button_4
{
	background: $grey;
	color: $grey_dark;
	cursor: pointer;
	font-family: inherit;
	font-weight: 700;
	height: 40px;
	line-height: 40px;
	padding: 0 5px;
	text-transform: uppercase;
}

.button_5
{
	background: $black;
	color: #fff !important;
	cursor: pointer;
	display: block;
	height: 28px;
	line-height: 28px;
	font-family: inherit;
	font-weight: 700;
	padding: 0 10px;
	text-align: center;
}

.button_6
{
	background: $grey;
	color: $grey_dark;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-weight: 700;
	padding: 20px 24px;
	text-align: center;
}