/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked 
{
	position: absolute;
	left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label 
{
	cursor: pointer;
	display: block;
	line-height: 30px;
	font-weight: 700;
	position: relative;
	text-transform: uppercase;
	width: 100%;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before 
{
	background: #fff;
	border: 1px solid $grey_dark;
	content: '';
	height: 30px;
	position: absolute;
	right: 0; 
	top: 0;
	width: 30px; 
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after 
{
	background-color: $grey_dark;
	content: "";
	display: block;
	height: 18px;
	position: absolute;
	right: 6px;
	width: 18px;
	top: 6px; 
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after 
{
	opacity: 0;
}

[type="checkbox"]:checked + label:after 
{
	opacity: 1;
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before 
{
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after 
{
	color: #999;
}
[type="checkbox"]:disabled + label 
{
	color: #aaa;
}

//
// Checkbox 2
//

.input_checkbox_label_up input[type="checkbox"] + label
{
	display: block;
	line-height: 18px;
	height: 48px;
	text-align: center;
	width: 30px;
}

.input_checkbox_label_up input[type="checkbox"] + label:before
{
	right: 0;
	top: 18px;
}

.input_checkbox_label_up input[type="checkbox"] + label:after
{
	top: 24px;
}

//
// Checkbox 3
//

/*

.input_checkbox_3
{
	position: relative;
	text-align: right;
}

.input_checkbox_3 .checkbox_left
{
	display: block;
	float: left;
}

.input_checkbox_3 .checkbox_right
{
	display: block;
	float: right;
	width: 50px;
}


.input_checkbox_3 .first
{
	display: inline-block;
	height: 20px;
	width: 20px;
}

.input_checkbox_3 .second
{
	display: inline-block;
	height: 20px;
	width: 20px;
}

.input_checkbox_3 .third
{
	position: absolute;
	right: -3px;
	top: -20px;
}
*/