@mixin placeholder
{
	&::-webkit-input-placeholder {
		@content
	}
	&:-moz-placeholder { /* Firefox 18- */
		@content  
	}
	&::-moz-placeholder {  /* Firefox 19+ */
		@content  
	}
	&:-ms-input-placeholder {  
		@content  
	}
}

input[type="text"], 
textarea,
input[type="number"],
input[type="password"],
input[type="email"]
{
	background: #fff;
	border: 1px solid $grey_dark;
	color: $grey_dark;
	font-family: inherit;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	width: 100%;
	@include placeholder
	{
		opacity: 1;
	}
	&.valid
	{
		border: 1px solid green;
	}
	&.error
	{
		border: 1px solid red;
	}
}

textarea
{
	height: 4*$lh;
}