input[type="file"]
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type="file"] + label
{
	background-image: url(../images/upload.jpg);
	background-size: 100% 100%;
	border: 1px solid $grey;
	cursor: pointer;
	display: block;
	height: 112px;
	line-height: 112px;
	text-align: center;
	width: 100%;
}