.input_range
{
	align-items: center;
	display: flex;
	width: 100%;
}

.input_range label
{
	margin-right: 15px;
	text-transform: uppercase;
	white-space: nowrap;
}

.input_range [type="range"]
{
	width: 100%;
}

.input_range [type="text"]
{
	border: 1px solid $grey_dark;
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 0;
	margin-left: 15px;
	text-align: center;
	width: 30px;
}