.title_1
{
	background: $grey;
	display: block;
	font-weight: 700;
	height: 30px;
	line-height: 30px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s;
	span
	{
		display: block;
		position: absolute;
		right: 15px;
		transition: all 0.3s;
		top: 0;
		&::before
		{
			line-height: 30px;
		}
	}
	&:hover
	{
		background: #ddd;
	}
	&.close span
	{
		transform: rotate(-90deg);
	}
}

.title_2
{
	color: $grey_dark;
	line-height: 20px;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	span
	{
		background: $grey;
		cursor: pointer;
		display: inline-block;
		float: right;
		height: 20px;
		line-height: 20px;
		margin-right: 10px;
		width: 20px;
		&::before
		{

		}
	}
}

.title_3
{
	color: $grey_dark;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	span
	{
		background: $grey;
		cursor: pointer;
		display: inline-block;
		height: 20px;
		line-height: 20px;
		margin-left: 10px;
		width: 20px;
		&::before
		{

		}
	}
}


.link
{
	padding-top: 16px;
}

.link_1
{
	color: $blue;
	display: block;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.note
{
	font-weight: 700;
	line-height: 18px;
	text-align: center;
}