.fs-upload
{
	background-image: url(../images/upload.jpg);
	background-size: 100% 100%;
	border: 1px solid $grey;
	cursor: pointer;
	display: block;
	height: 112px;
	line-height: 112px;
	overflow:hidden;
	position:relative;
	text-align: center;
	width: 100%;
}
.fs-upload,.fs-upload *,.fs-upload :after,.fs-upload :before,.fs-upload:after,.fs-upload:before
{
	box-sizing:border-box;
	transition:none;
	user-select:none!important;
}
.fs-upload-input
{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:-1px;
	opacity:0;
	pointer-events:none;
}
.fs-upload-target
{
	cursor:pointer;
}
.fs-upload-disabled .fs-upload-target,.no-touch .fs-upload-disabled:hover .fs-upload-target
{
	cursor:default;
	cursor:not-allowed;
}

.upload_queue h4
{
	display: block;
	margin-bottom: 10px;
}

.upload_queue p
{
	font-weight: 400;
}