$lh : 26px;

*, *:after, *:before
{
	box-sizing: border-box;
}

body
{
	color: $grey_dark;
	font-family: $ff1;
	font-size: 12px;
	font-weight: 700;
	@include l
	{
		font-size: 14px;
	}
}

a
{
	color: inherit;
	text-decoration: none;
}

// 
// Grid
// 

body
{
	min-width: $min-width;
}

.container
{
	@include container;
	@include m() { @include container; }
	@include l() { @include container; }
	@include xl() { @include container; }
}