// Min Width
$min_width: 320px !default;

// Breakpoints
$breakpoint_1: 640px !default;
$breakpoint_2: 1024px !default;
$breakpoint_3: 1440px !default;

// Static Grid


$susy: (
  columns: 12,
  gutters: 0,
  math: fluid,
  container: 100%
);

// 
// Fluid
// 

// Mobile First

@mixin m() { @include susy-breakpoint($breakpoint_1,$susy) { @content } }
@mixin l() { @include susy-breakpoint($breakpoint_2,$susy) { @content } }
@mixin xl() { @include susy-breakpoint($breakpoint_3,$susy) { @content } }

// Only

@mixin os() { @include breakpoint(max-width ($breakpoint_1 - 1) ) { @content } }
@mixin om() { @include breakpoint($breakpoint_1 ($breakpoint_2 - 1) ) { @content } }
@mixin ol() { @include breakpoint($breakpoint_2 ($breakpoint_3 -1 ) ) { @content } }
@mixin oxl() { @include breakpoint($breakpoint_3) { @content } }

@mixin osm() { @include breakpoint(max-width ($breakpoint_2 - 1) ) { @content } }
@mixin olxl() { @include breakpoint(min-width $breakpoint_2) { @content } }


// Print

body
{
	min-width: $min-width;
}

.hide_from_l
{
	@include l{ display: none !important; }
}