.getting_started_guide .box
{
	padding: 0;
	position: relative;
}

.getting_started_guide .box .box_close
{
	background: $grey;
	cursor: pointer;
	display: block;
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: 0;
	width: 30px;
	text-align: center;
	top: 0;
}

.getting_started_guide .box .subbox
{
	border-top: 1px solid $grey;
	text-align: center;
	@include m
	{
		border-top: 0;
		border-left: 1px solid $grey;
		float: left;
		width: 33%;
	}
}

.getting_started_guide .box .subbox:first-child
{
	border: 0;
}

.getting_started_guide .box .subbox p
{
	padding: 10px 0;
}

.organizer_dashboard_payout .row_text
{
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 20px;
}

.table_wrapper table.table_clean tbody tr
{
	border: 0;
	font-size: 13px;
	line-height: 20px;
}

.table_wrapper table.table_clean tbody tr td
{
	padding: 0 5px;
}

.table_wrapper table.table_clean tbody tr .text_align_right
{
	text-align: right;
}

.table_wrapper table.table_clean tbody tr.row_tall
{
	height: 60px;
	td
	{
		padding-bottom: 10px;
		padding-top: 10px;
		vertical-align: middle;
	}
}