.box_content
{
	background: #fff;
	border: 1px solid $grey_dark;
	margin-bottom: 20px;
	padding: 20px;
}

.box_content .box_content_title_1
{
	color: $black;
	font-size: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.box_content .box_content_title_2
{
	color: $black;
	font-size: 14px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}

.box_content.half_width
{
	@include m
	{
		float: left;
		width: 49%;
	}
}

.box_content.half_width.right
{
	@include m
	{
		float: right;
	}
}

// Gallery Half

.box_content.half_width .gallery
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: -20px;
}
.box_content.half_width .gallery .image
{
	flex-basis: 45%;
	margin-bottom: 20px;
}

.box_content.half_width .gallery .image img
{
	display: block;
	height: auto;
	width: 100%;
}

// Stack Half

.box_content.half_width .stack
{
	margin-bottom: -20px;
}

.box_content.half_width .stack img
{
	display: block;
	margin-bottom: 20px;
	width: 100%;
}

.box_content_clear
{
	@include scut-clearfix;
}


// Gallery Full

.box_content.full_width .gallery
{
	clear: both;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: -20px;
}
.box_content.full_width .gallery .image
{
	flex-basis: 45%;
	margin-bottom: 20px;
	@include m
	{
		flex-basis: 23%;
		margin-bottom: 20px;
	}
}

.box_content.full_width .gallery .image img
{
	display: block;
	height: auto;
	width: 100%;
}

// Stack Half

.box_content.full_width .stack
{
	margin-bottom: -20px;
}

.box_content.full_width .stack img
{
	display: block;
	margin-bottom: 20px;
	width: 100%;
}

// Video

.box_content .video video
{
	display: block;
	height: auto;
	width: 100%;
}

// Map

.box_content .map
{
	height: 300px;
}