.email
{
	background: $grey_light;
	padding: 10px;
	text-align: center;
}

.email_wrapper
{
	display: inline-block;
	width: 600px;
}

.email_content
{
	border: 1px solid $grey;
	text-align: left;
	padding-bottom: 10px;
}

.email_title
{
	border: 1px solid $grey;
	font-size: 24px;
	line-height: 30px;
	margin: 10px 10px 20px 10px;
	padding: 10px;
	text-align: center;
}

.email_content p
{
	color: $grey_dark;
	font-size: 13px;
	line-height: 16px;
	padding: 0 20px 10px 20px;
}

.email_content strong
{
	color: #000;
	font-weight: 700;
}

.email_content a
{
	color: $blue;
}

.email_button
{
	padding: 40px 20px;
}

.email_button .button_wrapper
{
	text-align: center;
}

.email_button .button_1
{
	display: inline-block;
	margin-bottom: 20px;
	width: 240px;
}

.email_legend
{
	color: $grey;
	font-size: 10px;
	line-height: 14px;
	padding: 10px;
}