.event_view
{
	//background: $grey_light;
	position: relative;
	text-align: center;
	width: 100%;
}

.event_view .event_view_container
{
	display: inline-block;
	min-width: 320px;
	max-width: 960px;
	text-align: left;
	width: 100%;
}

// 
// Cover
// 

.event_view .event_cover
{
	position: relative;
}

.event_view .event_cover img
{
	display: block;
	height: auto;
	width: 100%;
}

.event_view .overlay_text
{
	align-items: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.event_view .overlay_text .title
{
	display: block;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 8px;
	@include m
	{
		font-size: 36px;
	}
	@include l
	{
		font-size: 44px;
		margin-bottom: 16px;
	}
}

.event_view .overlay_text .location
{
	display: block;
	line-height: 1.2;
	font-weight: 700;
	@include l
	{
		font-size: 20px;
	}
}
.event_view .overlay_text .date
{
	display: block;
	font-weight: 700;
	line-height: 1.2;
	@include l
	{
		font-size: 22px;
	}
}

//
// Event Information
//

.event_view .event_information
{
	@include scut-clearfix;
	background: $grey_light;
	padding: 20px;
}

.event_view .event_information .left
{
	margin-bottom: 12px;
	@include m
	{
		float: left;
		margin-bottom: 0;
	}
}

.event_view .event_information .right
{
	@include m
	{
		float: right;
		margin-top: 5px;
	}
}

.event_view .event_information .line_1,
.event_view .event_information .line_2
{
	color: $black;
	font-weight: 700;
	margin-bottom: 10px;
	h2, span, p
	{
		display: inline-block;
	}
	@include l
	{
		font-size: 18px;
	}
}

.event_view .event_information .line_3
{
	color: $grey_dark;
	font-weight: 700;
	@include l
	{
		font-size: 18px;
	}
}

//
// Event Lightbox
//

.event_view .event_lightbox
{
	background: rgba(0,0,0,0.9);
	display: none;
	min-height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.event_view .event_lightbox .event_lightbox_container
{
	background: $grey_light;
	max-width: 960px;
	padding: 40px 10px;
	position: relative;
	@include m
	{
		margin: 40px auto 40px auto;
		padding: 40px;
	}
}

.event_view .event_lightbox .event_lightbox_close
{
	background: $grey;
	cursor: pointer;
	display: block;
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: 0;
	width: 30px;
	text-align: center;
	top: 0;
}