.header
{
	@include scut-clearfix;
	background: $grey_light;
	height: 60px;
	position: relative;
	@include l 
	{
		height: 90px;
	}
}

//
// Logo
//

.header .logo
{
	float: left;
	height: 60px;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 60px;
	width: 120px;
	@include l
	{
		height: 90px;
		line-height: 90px;
		margin-right: 0;
		width: 370px;
	}
}

.header .logo h1
{
	display: table;
	height: inherit;
}

.header .logo h1 a
{
	display: table-cell;
	vertical-align: middle;
}

.header .logo h1 a img
{
	display: block;
	height: auto;
	width: 100%;
}


// 
// Screens
// 

.header .screens
{
	display: none;
}

@include l
{
	.header .screens
	{
		display: block;
		float: left;
		padding-top: 30px;
		text-transform: uppercase;
	}
	.header .screens ul li
	{
		background: $grey;
		border-right: 1px solid $grey;
		border-top: 1px solid $grey;
		display: table;
		font-size: 14px;
		height: 60px;
		float: left;
		font-weight: 700;
		text-align: center;
	}
	.header .screens ul li:first-child
	{
		border-left: 1px solid $grey;
	}
	.header .screens ul li.active,
	.header .screens ul li:hover
	{
		background: $grey_light;
	}
	.header .screens ul li a
	{
		display: table-cell;
		line-height: 16px;
		padding: 0 0.5*$lh;
		vertical-align: middle;
	}

}

// 
// Main Menu Icon
// 

.main_menu_icon
{
	display: table;
	float: right;
	height: inherit;
	margin-right: 20px;
	@include l
	{
		display: none;
	}
}

.main_menu_icon a
{
	display: table-cell;
	font-size: 26px;
	vertical-align: middle;
}

// 
// Main Menu
// 

@include osm
{
	.header .main_menu
	{
		background: $grey_light;
		border-top: 1px solid $grey;
		display: none;
		position: absolute;
		left: 0;
		min-width: 320px;
		text-align: center;
		top: 100%;
		width: 100vw;
	}
	.header .main_menu ul
	{
		border-top: 3px solid $grey;
	}
	.header .main_menu ul li
	{
		border-bottom: 1px solid $grey;
		display: block;
	}
	.header .main_menu ul li:last-child
	{
		border: 0;
	}
	.header .main_menu ul li a
	{
		display: block;
		height: 40px;
		line-height: 40px;
		white-space: nowrap;
	}
	.header .main_menu ul li a:hover
	{
		background: $grey;
	}
	.header .main_menu ul li a br
	{
		display: none;
	}
}

@include l
{
	.header .main_menu
	{
		display: block !important;
		float: right;
	}
	.header .main_menu ul
	{
	}
	.header .main_menu ul li
	{
		display: block;
		float: left;
	}
	.header .main_menu ul li a
	{
		border-left: 1px solid $grey;
		display: table;
		height: 90px;
		padding: 0 20px;
		text-transform: uppercase;
	}
	.header .main_menu ul li a span
	{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	.header .main_menu ul li a:hover
	{
		background: $grey;
	}
}
