.my_account
{
	border: 1px solid $grey;
	margin: 20px;
	padding: 20px;
	width: calc(100% - 40px);
}

.my_account .my_account_top
{
	@include l
	{
		@include scut-clearfix;
		position: relative;
		text-align: center;
	}
}

.my_account .my_account_top p
{
	line-height: 20px;
}

.my_account .my_account_top a
{
	color: $blue;
}

.my_account .my_account_top .my_account_top_1 
{
	text-align: center;
	margin-bottom: 20px;
	@include l
	{
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.my_account .my_account_top .my_account_top_2
{
	margin-bottom: 20px;
	text-align: center;
	@include l
	{
		float: left;
		text-align: left;
	}
}

.my_account .my_account_top .my_account_top_2 .button
{
	margin-bottom: 10px;
	max-width: 400px;
	width: 100%;
	@include l
	{
		width: 175px;
	}
}
.my_account .my_account_top .my_account_top_3
{
	margin-bottom: 20px;
	text-align: center;
	@include l
	{
		float: right;
		text-align: left;
	}
}

.my_account .my_account_top .my_account_top_3 .button
{
	margin-bottom: 10px;
	max-width: 400px;
	width: 100%;
	@include l
	{
		display: block;
		width: 175px;
	}
}

.my_account .title_line
{
	border-bottom: 1px solid $grey;
	clear: both;
	margin-bottom: 16px;
	text-align: center;
	text-transform: uppercase;
	h4
	{
		background: $grey_light;
		display: inline-block;
		padding: 0 6px;
		position: relative;
		top: 6px;
	}
	@include l
	{
		margin-bottom: 30px;
	}
}

.my_account .table_wrapper
{
	padding-bottom: 20px;
	overflow-x: scroll;
	width: 100%;
	@include l
	{
		overflow-x: hidden;
	}
}

.my_account table
{
	text-align: left;
	width: 100%;
	.red
	{
		color: red;
	}
	.green
	{
		color: green;
	}
	.black
	{
		color: black;
	}
	thead tr
	{
		border-bottom: 2px solid $grey;
	}
	thead tr th
	{
		padding: 0 3px;
	}
	tbody tr
	{
		border-bottom: 1px solid $grey;
		&.grey
		{
			background: $grey;
		}
	}
	tbody tr td
	{
		padding: 0 3px;
	}
	tbody tr a
	{
		color: $blue;
	}
	th,td
	{
		padding: 5px 0;
		text-transform: uppercase;
	}
	 tbody td .cancel
	{
		background: $grey;
		color: $grey_dark;
		display: block;
		height: 30px;
		line-height: 30px;
		text-align: center;
		width: 30px;
	}
	tbody td input
	{
		display: inline-block;
	}
	.nowrap
	{
		white-space: nowrap;
		input
		{
			margin-left: 5px;
			width: 75%;
		}
	}
	.small
	{
		width: 100px;
		.select2
		{
			width: 100px !important;
		}
	}
	.center
	{
		text-align: center;
	}
}

.my_account table.tall
{
	thead tr th,
	tbody tr td
	{
		padding: 10px 3px;
	}
}