.organizer_dashboard_attendees .top
{
	@include l
	{
		display: flex;
		justify-content: space-between;
	}
}

.organizer_dashboard_attendees .top .title_box
{
	@include l
	{
		order: 2;
	}
}

.organizer_dashboard_attendees .buttons_float_left
{
	text-align: center;
	@include l
	{
		order: 1;
	}
}

.organizer_dashboard_attendees .buttons_float_left .button
{
	margin-bottom: 10px;
	max-width: 400px;
	width: 100%;
	@include l
	{
		width: 175px;
	}
}

.organizer_dashboard_attendees .buttons_float_right
{
	text-align: center;
	@include l
	{
		order: 3;
	}
}

.organizer_dashboard_attendees .buttons_float_right .button
{
	margin-bottom: 10px;
	max-width: 400px;
	width: 100%;
	@include l
	{
		display: block;
		width: 175px;
	}
}

.organizer_dashboard_attendees .information
{
	line-height: 20px;
	margin-bottom: 20px;
}

.organizer_dashboard_attendees .button_right
{
	text-align: center;
	@include l
	{
		text-align: right;
	}
}

.organizer_dashboard_attendees .button_right .button
{
	margin-bottom: 10px;
	max-width: 400px;
	width: 100%;
	@include l
	{
		width: auto;
	}
}

.organizer_dashboard_attendees .table_wrapper
{
	margin-bottom: 20px;
}

.organizer_dashboard_attendees .messages .message
{
	margin-bottom: 10px;
}

.organizer_dashboard_attendees .messages .message .date
{
	margin-bottom: 5px;
	@include l
	{
		float: left;
		width: 12%;
	}
}

.organizer_dashboard_attendees .messages .message .content
{
	margin-top: 5px;
	@include l
	{
		padding-left: 12%;
	}
}

.organizer_dashboard_attendees .lh20
{
	line-height: 20px;
}

.organizer_dashboard_attendees .red
{
	color: red;
}

.organizer_dashboard_attendees .column_1
{
	@include l
	{
		float: left;
		width: calc( 50% - 10px);
	}
}

.organizer_dashboard_attendees .column_2
{
	@include l
	{
		float: right;
		width: calc( 50% - 10px);
	}
}

.organizer_dashboard_attendees .filters
{
	margin-bottom: 20px;
}

.organizer_dashboard_attendees .search,
.organizer_dashboard_attendees .filter_1,
.organizer_dashboard_attendees .filter_2
{
	@include l
	{
		
	}
}

.organizer_dashboard_attendees .search .input_text,
.organizer_dashboard_attendees .filter_1 .input_select,
.organizer_dashboard_attendees .filter_2 .input_text,
{
	display: inline-block;
	margin-bottom: 10px;
	width: 270px;
}

.organizer_dashboard_attendees .search .search_buttons,
.organizer_dashboard_attendees .filter_1 .filter_buttons,
.organizer_dashboard_attendees .filter_2 .filter_buttons,
{
	display: inline-block;
	margin-bottom: 10px;	
	@include l
	{
		.button
		{
			width: 80px;
		}
	}
}

.organizer_dashboard_attendees .filters .title_1
{
	display: none;
	margin-top: 10px;
}

.organizer_dashboard_attendees .filters .filter_3 .title_1
{
	display: block;
	margin-top: 0;
}