.organizer_dashboard_center
{
	background: $grey_light;
	border-left: 1px solid $grey;
	padding: 20px;
	width: 100%;
}

.organizer_dashboard_section_title h2
{
	font-size: 18px;
	margin-bottom: 10px;
}

.organizer_dashboard_center .box
{
	@include scut-clearfix;
	border: 1px solid $grey;
	margin-bottom: 10px;
	padding: 10px;
	@include l
	{
		padding: 20px;
		margin-bottom: 30px;
	}
}

.organizer_dashboard_center .box_financial_settings .logo
{
	margin-bottom: 10px;
	text-align: center;
	@include l
	{
		float: left;
		padding-right: 40px;
	}
}

.organizer_dashboard_center .box_financial_settings .content
{
	line-height: 18px;
	text-transform: uppercase;
	@include l
	{
		float: left;
		line-height: 24px;
	}
}

.organizer_dashboard_center .box_financial_settings .content .subtitle
{
	text-decoration: underline;
	text-transform: uppercase;
}

.organizer_dashboard_center .box_financial_settings .content .button
{
	margin-bottom: 10px;
	@include l
	{
		display: inline-block;
		margin-bottom: 0;
		margin-right: 10px;
		width: 155px;
	}
}

.organizer_dashboard_center .box_financial_settings .content .row_1,
.organizer_dashboard_center .box_financial_settings .content .row_2
{
	margin-bottom: 10px;
	@include l
	{
		margin-bottom: 40px;
	}
}

.organizer_dashboard_center p a
{
	color: $blue;
}

.organizer_dashboard_center .green
{
	color: $green;
}

.organizer_dashboard_center .blue
{
	color: $blue;
}

.organizer_dashboard_center .black
{
	color: #000;
}

.organizer_dashboard_center .title_box
{
	margin-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
}

.organizer_dashboard_center .title_line
{
	border-bottom: 1px solid $grey;
	clear: both;
	margin-bottom: 16px;
	text-align: center;
	text-transform: uppercase;
	h4
	{
		background: $grey_light;
		display: inline-block;
		padding: 0 6px;
		position: relative;
		top: 6px;
	}
	@include l
	{
		margin-bottom: 30px;
	}
}

.organizer_dashboard_center .row
{
	margin-bottom: 10px;
}

.organizer_dashboard_center .box_anovia_payment_setup .column_1
{
	@include l
	{
		float: left;
		margin-left: 12%;
		margin-right: 9%;
		margin-bottom: 20px;
		width: 30%;
	}
}

.organizer_dashboard_center .box_anovia_payment_setup .column_2
{
	margin-bottom: 20px;
	@include l
	{
		float: left;
		margin-bottom: 20px;
		width: 30%;
	}
}

.organizer_dashboard_center .box_anovia_payment_setup .column_only
{
	clear: both;
	margin-bottom: 20px;
	text-align: center;
	@include l
	{
		float: left;
		margin-left: 12%;
		width: 69%;
	}
	img
	{
		display: block;
		height: auto;
		width: 100%;
	}
	&.last
	{
		margin-bottom: 0;
		margin-top: 30px;
		text-align: center;
	}
	.button
	{
		margin-bottom: 10px;
		@include l
		{
			display: inline-block;
			width: 155px;
		}
	}
	@include l
	{
		&.input_half
		{
			text-align: left;
			.select2,
			input
			{
				clear: both;
				display: block;
				width: 44% !important;
			}
			label
			{
				clear: both;
			}
		}
	}
}

//
// Financial
//

.organizer_dashboard_section.financial
{
	
}

.organizer_dashboard_section.financial .box_payments_gateways
{
	.title_box
	{
		margin-bottom: 20px;
	}
}

.organizer_dashboard_section.financial .box_payments_gateways .accept_cards
{
	@include l
	{
		float: left;
		margin-left: 7.5%;
		width: 54%;
	}
}

.organizer_dashboard_section.financial .box_payments_gateways .accept_paypal
{
	@include l
	{
		float: right;
		margin-right: 7.5%;;
	}
}

.organizer_dashboard_section.financial .box_payments_gateways .accept_cards .payments_box,
.organizer_dashboard_section.financial .box_payments_gateways .accept_paypal .payments_box
{
	border: 1px solid $grey;
	margin-bottom: 30px;
	padding: 10px;
	position: relative;
	text-align: center;
	.image img
	{
		display: inline-block;
		height: auto;
		width: 120px;
	}
	.status
	{
		padding-top: 10px;
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
	}
	@include l
	{
		float: left;
		height: 200px;
		width: 200px;
		.fees
		{
			bottom: 10px;
			left: 0;
			position: absolute;
			width: 100%;
		}
		.image
		{
			align-items: center;
			display: flex;
			height: 100%;
			left: 0;
			justify-content: center;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

.organizer_dashboard_section.financial .box_payments_gateways .accept_cards .accept_cards_wrapper
{
	@include l
	{
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}

.organizer_dashboard_section.financial .box_payments_gateways .accept_cards .or
{
	text-align: center;
	margin-bottom: 10px;
}

.organizer_dashboard_section .table_wrapper
{
	padding-bottom: 20px;
	overflow-x: scroll;
	width: 100%;
	@include l
	{
		overflow-x: hidden;
	}
}

.organizer_dashboard_section table
{
	text-align: left;
	width: 100%;
	thead tr
	{
		border-bottom: 2px solid $grey;
	}
	thead tr th
	{
		padding: 0 3px;
	}
	tbody tr
	{
		border-bottom: 1px solid $grey;
		&.grey
		{
			background: $grey;
		}
	}
	tbody tr td
	{
		padding: 0 3px;
	}
	tbody tr a
	{
		color: $blue;
	}
	th,td
	{
		padding: 5px 0;
		text-transform: uppercase;
	}
	 tbody td .cancel
	{
		background: $grey;
		color: $grey_dark;
		display: block;
		height: 30px;
		line-height: 30px;
		text-align: center;
		width: 30px;
	}
	tbody td input
	{
		display: inline-block;
	}
	.nowrap
	{
		white-space: nowrap;
		input
		{
			margin-left: 5px;
			width: 75%;
		}
	}
	.small
	{
		width: 100px;
		.select2
		{
			width: 100px !important;
		}
	}
	.center
	{
		text-align: center;
	}
	.black
	{
		color: #000;
	}
}

.organizer_dashboard_section table.tall
{
	thead tr th,
	tbody tr td
	{
		padding: 10px 3px;
	}
}