//
// Margin Bottom
//

.organizer_dashboard_center .mb10
{
	margin-bottom: 10px;
}

.organizer_dashboard_center .mb20
{
	margin-bottom: 20px;
}

.organizer_dashboard_center .mb30
{
	margin-bottom: 30px;
}

.organizer_dashboard_center .mb40
{
	margin-bottom: 40px;
}

//
// Header Top
//

.organizer_dashboard_section .box_header_top
{
	@include l
	{
		@include scut-clearfix;
		position: relative;
		text-align: center;
	}
}

.organizer_dashboard_section .box_header_top .box_header_top_1 
{
	@include l
	{
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.organizer_dashboard_section .box_header_top .box_header_top_2
{
	text-align: center;
	@include l
	{
		float: left;
	}
}

.organizer_dashboard_section .box_header_top .box_header_top_2 .button
{
	margin-bottom: 10px;
	max-width: 400px;
	width: 100%;
	@include l
	{
		width: 175px;
	}
}
.organizer_dashboard_section .box_header_top .box_header_top_3
{
	text-align: center;
	@include l
	{
		float: right;
	}
}

.organizer_dashboard_section .box_header_top .box_header_top_3 .button
{
	margin-bottom: 10px;
	max-width: 400px;
	width: 100%;
	@include l
	{
		display: block;
		width: 175px;
	}
}

//
// Box 2 Columns
//

.organizer_dashboard_section .box_2_columns
{
	@include scut-clearfix;
}

.organizer_dashboard_section .box_2_columns .box_2_columns_1
{
	@include l
	{
		float: left;
		width: calc( 50% - 10px);
	}
}

.organizer_dashboard_section .box_2_columns .box_2_columns_2
{
	@include l
	{
		float: right;
		width: calc( 50% - 10px);
	}
}

//
// Fit in width
//

.organizer_dashboard_section .fit_in_width
{
	@include l
	{
		display: flex;
	}
}

.organizer_dashboard_section .fit_in_width .expand
{
	@include l
	{
		width: 100%;
	}
}

.organizer_dashboard_section .fit_in_width > *
{
	margin-bottom: 10px;
	margin-right: 10px;
	&:last-child
	{
		margin-right: 0;
	}
}

