.organizer_dashboard_events .four_buttons
{
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	@include l
	{
		margin-top: 40px;
	}
}

.organizer_dashboard_events .four_buttons .four_buttons_wrapper
{
	display: inline-block;
	text-align: center;
	width: 75%;
}

.organizer_dashboard_events .four_buttons .four_buttons_wrapper .button
{
	clear: both;
	display: inline-block;
	margin-bottom: 10px;
	max-width: 400px;
	width: 100%;
	@include l
	{
		clear: none;
		display: block;
		float: left;
		margin: 0 5px 10px 5px;
		max-width: none;
		width: calc(50% - 10px);
	}
}

.organizer_dashboard_events .table_wrapper
{
	margin-bottom: 20px;
}

.organizer_dashboard_events .button_delete
{
	text-align: center;
	.button
	{
		width: 100px;
	}
}

.organizer_dashboard_events .button_create
{
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	.button
	{
		display: inline-block;
	}
}

.organizer_dashboard_events .search
{
	margin-bottom: 20px;
	margin-top: 20px;
	@include l
	{
		margin-top: 40px;
	}
}

.organizer_dashboard_events .search .input_text
{
	display: inline-block;
	margin-bottom: 10px;
	width: 270px;
}

.organizer_dashboard_events .search .search_buttons
{
	display: inline-block;
}