//
// LightBox
//

.organizer_dashboard_center
{
	position: relative;
}

.organizer_dashboard_center .lightbox
{
	align-items: flex-start;
	background: rgba(0,0,0,0.9);
	display: flex;
	left: 0;
	justify-content: center;
	height: auto;
	min-height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

.organizer_dashboard_center .lightbox .lightbox_content
{
	background: $grey_light;
	margin: 20px 5%;
	padding: 0 10px 10px 10px;
	position: relative;
	width: 90%;
}

.organizer_dashboard_center .lightbox.no_padding .lightbox_content
{
	padding: 0;
}

//
// Lightbox Center
//

.organizer_dashboard_center .lightbox.center
{
	@include l
	{
		align-items: center;
	}
}

//
// Lightbox Small
//

.organizer_dashboard_center .lightbox.center .lightbox_content
{
	width: 300px;
	@include l
	{
		width: 520px;
	}
}


//
// Medium
//   

.organizer_dashboard_center .lightbox.medium
{
	@include l
	{
		align-items: center;
	}
}

.organizer_dashboard_center .lightbox.medium .lightbox_content
{
	width: 300px;
	@include m
	{
		width: 600px;
	}
	@include l
	{
		width: 720px;
	}
}

.organizer_dashboard_center .lightbox.logos .lightbox_content
{
	margin-bottom: 60px;
}

.organizer_dashboard_center .lightbox.logos .lightbox_content .logos_image
{
	bottom: -40px;
	right: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	img
	{
		display: inline-block;
		height: 25px;
		padding: 0 15px;
		width: auto;
	}
	@include m
	{
		width: 50%;
	}
}

//
// Light Box Elements
//

.organizer_dashboard_center .lightbox .lightbox_content .lightbox_close
{
	background: $grey;
	cursor: pointer;
	display: block;
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: 0;
	width: 30px;
	text-align: center;
	top: 0;
}

.organizer_dashboard_center .lightbox .lightbox_content .lightbox_back
{
	display: block;
	position: absolute;
	left: 10px;
	top: 0;
	a
	{
		color: $blue;
		display: block;
		line-height: 30px;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content .title
{
	line-height: 30px;
	margin-bottom: 20px;
	text-align: center;
}

.organizer_dashboard_center .lightbox .lightbox_content .underline
{
	border-bottom: 1px solid $grey_dark;
	line-height: 40px;
	& > *
	{
		display: inline-block;
		margin-right: 15px;
	}
	.input_checkbox label
	{
		padding-right: 40px;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content .link a
{
	color: $blue;
}

.organizer_dashboard_center .lightbox .lightbox_content .promo_code_message_imported
{
	line-height: 30px;
	padding: 40px 0;
	p
	{
		display: block;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content .error
{
	color: red;
}

//
// CheckBox Line
//

.organizer_dashboard_center .lightbox .lightbox_content .checkbox_line
{
	display: inline-block;
	label
	{
		padding-right: 40px;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content .align_center
{
	text-align: center;
	> *
	{
		display: inline-block;
	}
}

//
// Simple Table
//

.organizer_dashboard_center .lightbox .lightbox_content .table_wrapper
{
	padding-bottom: 20px;
	overflow-x: scroll;
	width: 100%;
	@include l
	{
		overflow-x: hidden;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content .simple_table
{
	text-transform: uppercase;
	width: 100%;
}

.organizer_dashboard_center .lightbox .lightbox_content .simple_table thead
{
	height: 30px;
	text-align: left;
}

.organizer_dashboard_center .lightbox .lightbox_content .simple_table th,
.organizer_dashboard_center .lightbox .lightbox_content .simple_table td
{
	height: 32px;
	vertical-align: middle;
}

.organizer_dashboard_center .lightbox .lightbox_content .simple_table tbody td
{
	border: 1px solid $grey_dark;
}

.organizer_dashboard_center .lightbox .lightbox_content .simple_table tbody .pa
{
	padding: 0 10px;
}

.organizer_dashboard_center .lightbox .lightbox_content .simple_table tbody td select
{
	float: left;
}

.organizer_dashboard_center .lightbox .lightbox_content .simple_table tbody td .inputs_wrapper
{
	display: flex;
}

.organizer_dashboard_center .lightbox .lightbox_content .simple_table tbody td .cancel
{
	background: $grey;
	color: $grey_dark;
	display: block;
	float: left;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
}

.organizer_dashboard_center .lightbox .lightbox_content .simple_table tbody td .select2-selection
{
	border: 0;
}

.organizer_dashboard_center .lightbox .lightbox_content .two_tables
{
	@include l
	{
		display: flex;
		justify-content: space-between;
		width: 100%;
		.table_wrapper
		{
			width: 49%;
		}
	}
}

// Table Full Width

.organizer_dashboard_center .lightbox .lightbox_content table.full_width
{
	width: 100%;
}

.organizer_dashboard_center .lightbox .lightbox_content table.full_width td
{
	border-bottom: 1px solid $grey_dark;
	border-top: 1px solid $grey_dark;
	padding: 15px 5px;
	vertical-align: top;
}

.organizer_dashboard_center .lightbox .lightbox_content table.full_width thead
{
	text-align: left;
	width: 100%;
}

.organizer_dashboard_center .lightbox .lightbox_content table.full_width thead th
{
	vertical-align: bottom;
	padding: 5px;
}


.organizer_dashboard_center .lightbox .lightbox_content table.full_width .small input[type="text"]
{
	width: 40px;
}

.organizer_dashboard_center .lightbox .lightbox_content .nowrap
{
	white-space: nowrap;
	input[type="text"]
	{
		margin-left: 5px;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content table.full_width tfoot td
{
	border-bottom: 0;
}

.organizer_dashboard_center .lightbox .lightbox_content table.full_width .empty 
{
	padding: 0;
	span
	{
		display: block;
		width: 10px;
		@include l
		{
			width: 100px;
		}
	}
}

.organizer_dashboard_center .lightbox .lightbox_content table.full_width .ten
{
	width: 10%;
}

.organizer_dashboard_center .lightbox .lightbox_content table.full_width .thirty
{
	line-height: 1.2;
	width: 30%;
	h3
	{
		font-size: 14px;
		@include l
		{
			font-size: 18px;
		}
	}
}

.organizer_dashboard_center .lightbox .lightbox_content table.full_width .fifty
{
	line-height: 1.2;
	width: 50%;
	h3
	{
		font-size: 14px;
		@include l
		{
			font-size: 18px;
		}
	}
}

.organizer_dashboard_center .lightbox .lightbox_content table.full_width tbody
{
	line-height: 30px;
}

.organizer_dashboard_center .lightbox .lightbox_content table.full_width .input_checkbox label
{
	top: 2px;
	@include l
	{
		margin-left: -30px;
	}
}


// Two COlumn Text

.organizer_dashboard_center .lightbox .lightbox_content .two_text_columns
{
	@include scut-clearfix;
	line-height: 20px;
	padding: 0 10px;
	@include l
	{
		padding: 0 100px;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content .two_text_columns .column_1,
.organizer_dashboard_center .lightbox .lightbox_content .two_text_columns .column_2
{
	margin-bottom: 20px;
	@include l
	{
		float: left;
		width: 50%;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content .two_text_columns .column_2
{
	@include l
	{
		text-align: right;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content .add_note
{
	margin-bottom: 20px;
	margin-top: 10px;
	padding: 0 10px;
	@include l
	{
		padding: 0 100px;
	}
}

// Two Border Columns

.organizer_dashboard_center .lightbox .lightbox_content .two_border_columns
{
	@include scut-clearfix;
	border-top: 1px solid $grey_dark;
}

.organizer_dashboard_center .lightbox .lightbox_content .two_border_columns .column_1
{
	padding: 20px;
	@include m
	{
		float: left;
		width: 50%;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content .two_border_columns .column_2
{
	@include scut-clearfix;
	border-top: 1px solid $grey_dark;
	padding: 20px;
	@include m
	{
		border-top: 0;
		border-left: 1px solid $grey_dark;
		float: left;
		width: 50%;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content .two_border_columns .row
{
	@include scut-clearfix;
}

.organizer_dashboard_center .lightbox .lightbox_content .two_border_columns .sub_column_1
{
	float: left;
	width: 48%;
}

.organizer_dashboard_center .lightbox .lightbox_content .two_border_columns .sub_column_2
{
	float: right;
	width: 48%;
}

// Title Underline

.organizer_dashboard_center .lightbox .lightbox_content .title_underline
{
	text-align: center;
	text-decoration: underline;
}

.organizer_dashboard_center .lightbox .lightbox_content .small_description
{
	font-size: 10px;
	line-height: 13px;
	text-align: center;
}

.organizer_dashboard_center .lightbox .lightbox_content .paypal_submit
{
	display: block;
	text-align: center;
	a
	{
		display: inline-block;
	}
	img
	{
		display: block;
		height: auto;
		width: 192px;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content table.total
{
	width: 100%;
}

.organizer_dashboard_center .lightbox .lightbox_content table.total thead
{
	font-size: 12px;
	font-style: italic;
}

.organizer_dashboard_center .lightbox .lightbox_content table.total thead a
{
	color: $blue;
}

.organizer_dashboard_center .lightbox .lightbox_content table.total th,
.organizer_dashboard_center .lightbox .lightbox_content table.total td
{
	padding: 5px;
	&.right
	{
		text-align: right;
	}
	&.center
	{
		text-align: center;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content table.total td.pb
{
	padding-bottom: 20px;
}

.organizer_dashboard_center .lightbox .lightbox_content .button_submit
{
	display: block;
	text-align: center;
	a
	{
		display: inline-block;
		width: 192px;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content .box_text
{
	@include scut-clearfix;
	border-bottom: 1px solid $grey_dark;
	padding: 20px 0;
	line-height: 20px;
	@include m
	{
		.left
		{
			float: left;
		}
		.right
		{
			float: right;
			text-align: right;
		}
	}
}
.organizer_dashboard_center .lightbox .lightbox_content .center_button
{
	text-align: center;
	a, button
	{
		display: inline-block;
		margin: 0 10px 10px 10px;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content .black
{
	color: #000;
}

.organizer_dashboard_center .lightbox .text_align_left
{
	text-align: left !important;
}

.organizer_dashboard_center .lightbox .text_align_right
{
	text-align: right !important;
}



.organizer_dashboard_center .lightbox .lightbox_content .two_columns
{
	@include scut-clearfix;
	line-height: 20px;
	padding: 0 10px;
	@include l
	{
		padding: 0 100px;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content .two_columns .column_1,
.organizer_dashboard_center .lightbox .lightbox_content .two_columns .column_2
{
	margin-bottom: 20px;
	@include l
	{
		float: left;
		width: 45%;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content .two_columns .column_2
{
	@include l
	{
		float: right;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content .input_button
{
	input
	{
		margin-left: 0 !important;
		margin-right: 5%;
		width: 40%;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content .border_top
{
	border-top: 1px solid $grey_dark;
	padding-top: 10px;
}

.organizer_dashboard_center .lightbox .lightbox_content .border_bottom
{
	border-bottom: 1px solid $grey_dark;
}

.organizer_dashboard_center .lightbox .lightbox_content .checkbox_center
{
	text-align: center;
	label
	{
		display: inline-block;
		padding-right: 50px;
		width: auto;
	}
}

.organizer_dashboard_center .lightbox .lightbox_content .checkbox_column
{
	padding-top: 10px;
	label
	{
		width: 100%;
	}
	@include l
	{
		padding-top: 20px;
	}
}


.organizer_dashboard_center .lightbox .lightbox_content .select_center
{
	text-align: center;
	.input_select
	{
		display: inline-block;
		text-align: left;
		label
		{
			display: block;
		}
		.select2
		{
			width: 300px !important;
		}
	}
}

.organizer_dashboard_center .lightbox .lightbox_content .small_text
{
	font-size: 10px;
}