.organizer_dashboard
{
	background: $grey_light;
	border-top: 2px solid $grey;
}

@include l
{
	.organizer_dashboard
	{
		display: flex;
		min-height: calc(100vh - 90px);
	}
	.organizer_dashboard .organizer_dashboard_left
	{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: calc(100vh - 90px);
	}
}