.panel
{
	@include scut-clearfix;
	background: $grey_light;
	width: 100%;
}
.panel .tabs .tab
{
	width: 25%;
}

.panel .row
{
	@include scut-clearfix;
	margin-bottom: 10px;
	@include l
	{
		margin-bottom: 16px;
	}
}

.panel .separator
{
	height: 16px;
}

.panel .row_2
{
	@include scut-clearfix;
	margin-bottom: 6px;
}
.panel .column_2
{
	float: left;
	width: 45%;
}
.panel .last
{
	float: right;
}

.panel .accordion
{
	margin-bottom: 20px;
}

.panel .accordion .content
{
	margin-bottom: 20px;
	margin-top: 20px;
}
.panel .sub_column_3
{
	float: left;
	width: 75%;
}
.panel .sub_column_1
{
	float: left;
	width: 25%;
}

@include l
{
	.panel
	{
		width: 390px;
	}
}

// Input text + Checkbox

.panel .column_text_checkbox
{
	display: flex;
}

.panel .column_text_checkbox .input_text
{
	flex-grow: 1;
	padding-right: 10px;
}

// Label + Check + Check

.panel .column_label_checkbox_checkbox
{
	display: flex;
	align-items: center;
	position: relative;
}

.panel .column_label_checkbox_checkbox .label
{
	flex-grow: 1;
}

.panel .column_label_checkbox_checkbox .label label
{
	line-height: 10px;
}

.panel .column_label_checkbox_checkbox .checkbox
{
	flex-grow: 0;
	flex-shrink: 0;
	margin-left: 5px;
	height: 30px;
	width: 30px;
}

.panel .column_label_checkbox_checkbox .req
{
	position: absolute;
	right: 0;
	top: -20px;
	text-align: center;
	width: 30px;
}

// Input text + Checkbox

.panel .column_select_checkbox
{
	display: flex;
}

.panel .column_select_checkbox .input_select
{
	flex-grow: 1;
	padding-right: 10px;
}

// Input text one line

.panel .input_text_one_line
{
	@include scut-clearfix;
}

.panel .input_text_one_line label
{
	float: left;
}

.panel .input_text_one_line input
{
	float: right;
	padding: 0;
	text-align: center;
	width: 30px;
}

.panel .row_quarter .c1
{
	float: left;
	margin-right: 3%;
	width: 24%;
}

.panel .row_quarter .c2
{
	float: right;
	width: 46%;
}