.print_ticket
{
	border: 1px solid $black;
	color: $black;
	font-family: $ff2;
	font-weight: 400;
	max-width: 768px;
	margin: 20px auto;
	padding: 20px;
	@include l
	{
		padding: 30px;
	}
}

//
// Header
//

.print_ticket_header
{
	@include scut-clearfix;
	text-align: center;
	@include l
	{
		margin-bottom: 30px;
	}
}

.print_ticket .logo
{
	margin-bottom: 20px;
	@include m
	{
		float: left;
	}
	@page
	{
		float: left;
	}
}

.print_ticket .logo img
{
	height: 50px;
	width: auto;
	@include m
	{
		height: 70px;
	}
}

.print_ticket .ticket_number
{
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
	@include m
	{
		float: right;
	}
}

//
// Text
//

.print_ticket h2
{
	font-size: 18px;
	font-weight: 700;
	padding: 6px 0;
	@include m
	{
		font-size: 24px;
	}
}

.print_ticket h3
{
	font-size: 14px;
	font-weight: 700;
	padding: 6px 0;
	@include m
	{
		font-size: 16px;
	}
}

.print_ticket p
{
	font-weight: 400;
	@include m
	{
		font-size: 14px;
	}
}

//
// Table
//

.print_ticket table.table_1
{
	margin-bottom: 20px;
	font-size: 14px;
	text-align: left;
	width: 100%;
}

.print_ticket table.table_1 tr
{
	border-bottom: 1px solid $black;
}

.print_ticket table.table_1 tr th,
.print_ticket table.table_1 tr td
{
	padding: 6px 0;
}

.print_ticket table.table_1 tr th
{
	padding-right: 3px;
}

.print_ticket table.table_1 tr td
{
	padding-left: 3px;
	@include m
	{
		font-size: 16px;
	}
}

.print_ticket table.table_2
{
	width: 100%;
}

.print_ticket table.table_2 .first_col
{
	width: 100%;
}

.print_ticket table.table_2 .second_col
{
	width: 100%;
}

//
// Special
//

.print_ticket .special
{
	@include scut-clearfix;
	border-bottom: 1px solid $grey_dark;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.print_ticket .special p
{
	@include l
	{
		float: left;
		margin-top: 5px;
	}
}

.print_ticket .special .qr
{
	border-left: 1px solid $grey_dark;
	margin-top: 20px;
	text-align: right;
}

.print_ticket .terms
{
	margin-bottom: 20px;
}

.print_ticket .terms p
{
	color: $grey_dark;
	margin-top: 5px;
}

.print_ticket .message
{

	background: $black;
	color: #fff;
	font-size: 12px;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
	@include m
	{
		font-size: 18px;
		padding: 18px;
	}
}

.print_ticket .print_ticket_footer
{
	font-size: 10px;
	text-align: center;
	@include m
	{
		font-size: 14px;
	}
}

.print_ticket .base_content
{
	margin-bottom: 20px;
	@include l
	{
		margin-bottom: 50px;
	}
}

.print_ticket .base_content p
{
	margin-bottom: 10px;
}