.section_header
{
	@include scut-clearfix;
	background: $grey_light;
	height: 60px;
}

@include l
{
	.section_header
	{
		height: 90px;
	}
}

// Title

.section_header .title
{
	float: left;
	height: 60px;
	padding-left: 20px;
	line-height: 60px;
	width: 80%;
}

@include l
{
	.section_header .title
	{
		height: 90px;
		line-height: 90px;
		width: 390px;
	}
}



// 
// Screens
// 

.section_header .screens
{
	display: none;
}

@include l
{
	.section_header
	{
		height: 90px;
	}
	.section_header .screens
	{
		display: block;
		float: left;
		padding-top: 30px;
		text-transform: uppercase;
	}
	.section_header .screens ul li
	{
		background: $grey;
		border-right: 1px solid $grey;
		border-top: 1px solid $grey;
		display: table;
		font-size: 14px;
		height: 60px;
		float: left;
		font-weight: 700;
		text-align: center;
	}
	.section_header .screens ul li:first-child
	{
		border-left: 1px solid $grey;
	}
	.section_header .screens ul li.active,
	.section_header .screens ul li:hover
	{
		background: $grey_light;
	}
	.section_header .screens ul li a
	{
		display: table-cell;
		line-height: 16px;
		padding: 0 0.5*$lh;
		vertical-align: middle;
	}

}

// 
// Menus
// 


@include osm
{
	.section_header .menus
	{
		@include scut-clearfix;
		float: left;
		position: relative;
		text-align: center;
		width: 20%;
	}

	.section_header .menus > a
	{
		display: block;
		font-size: 26px;
		height: 60px;
		line-height: 60px;
		padding-right: 20px;
		text-align: right;
	}

	.section_header .menus ul
	{
		background: $grey_light;
		border-top: 1px solid $grey;
		display: none;
		position: absolute;
		right: 0;
		top: 100%;
		width: 100vw;
	}
	.section_header .menus ul li a
	{
		border-bottom: 1px solid $grey;
		display: block;
		height: 40px;
		line-height: 40px;
	}
	.section_header .menus ul li a:hover
	{
		background: $grey;
	}
}

@include l
{
	.section_header .menus
	{
		height: 90px;
		float: right;
	}
	.section_header .menus > a
	{
		display: none;
	}
	.section_header .menus ul
	{
		display: block !important;
	}
	.section_header .menus ul li
	{
		display: block;
		float: left;
	}
	.section_header .menus ul li a
	{
		border-left: 1px solid $grey;
		display: block;
		height: 90px;
		line-height: 90px;
		padding: 0 20px;
		text-transform: uppercase;
	}
	.section_header .menus ul li a:hover
	{
		background: $grey;
	}
}

