@include osm
{
	.section_main .panel
	{
		display: block !important;
	}
	.section_main .event_view
	{
		display: block !important;
	}
}

@include l
{
	.section_main
	{
		display: flex;
		width: 100%;
	}

	.section_main .panel
	{
		flex-basis: 390px;
		flex-grow: 0;
		flex-shrink: 0;
	}

	.section_main .event_view
	{
		flex-grow: 1;
	}
}
