.ticket_table
{
	@include scut-clearfix;
}
.ticket_table table
{
	table-layout: fixed;
	text-align: center;
	width: 100%;
}

.ticket_table .table_body
{
	margin-top: 20px;
}

.ticket_table table tbody
{
	border: 1px solid $grey_dark;
}

.ticket_table table .col_1
{
	padding-left: 10px;
	text-align: left;
}
.ticket_table table .col_2,
.ticket_table table .col_3,
.ticket_table table .col_4,
.ticket_table table .col_5
{
	width: 15%;
}

.ticket_table table .col_5
{
	padding-right: 10px;
}

.ticket_table table tr.row_1 td
{
	height: 60px;
	vertical-align: middle;
}

.ticket_table tbody h3
{
	@include m
	{
		font-size: 18px;
	}
}

.ticket_table tbody .date
{
	@include m
	{
		font-size: 13px;
	}
}

.ticket_table tbody td
{
	text-align: center;
}

.ticket_table tbody .ticket_description
{
	padding: 0 10px 10px 10px;
	text-align: left;
}

.ticket_table tbody .show_full
{
	display: inline-block;
	margin-bottom: 10px;
	width: 280px;
}

// 
// Table Footer
// 

.ticket_table .table_footer
{
	@include scut-clearfix;
}

.ticket_table .table_footer .row
{
	clear: both;
}

.ticket_table .table_footer .total_price
{
	color: $black;
	font-size: 16px;
	font-weight: 700;
	height: 80px;
	line-height: 80px;
	text-align: right;
	vertical-align: middle;
}


.ticket_table .table_footer .buttons
{
	text-align: center;
	//float: right;
	//margin-bottom: 10px;
	@include m
	{
		text-align: right;
	}
}

.ticket_table .table_footer .promo_code
{
	margin-bottom: 10px;
	text-align: center;
	@include m
	{
		float: left;
		margin-top: 10px;
		text-align: left;
		width: 40%;
	}
}

.ticket_table .table_footer .buttons .button_1
{
	display: inline-block;
	margin-bottom: 10px;
}

.ticket_table .table_footer .promo_code label,
.ticket_table .table_footer .promo_code input,
.ticket_table .table_footer .promo_code button
{
	display: inline-block;
	margin: 0 3px;
}

.ticket_table .table_footer .promo_code label
{
	width: 20%;
}

.ticket_table .table_footer .promo_code input
{
	width: 40%;
	@include m
	{
		width: 30%;
	}
	@include l
	{
		width: 40%;
	}
}

.ticket_table .table_footer .promo_code button
{
	width: 30%;
}

.ticket_table .table_footer .button_1
{
	margin-left: 10px;
}

.ticket_table .policy
{
	font-size: 12px;
	padding: 10px;
	text-align: center;
}