

<div class="accordion">
   <a href="#" class="title title_1">Event Details<span class="fa fa-chevron-down"></span></a>
   <div class="content">
      <div class="row">
         <div class="input_text ">
            <label for="event_title">Event Title<span class="required">*</span></label>
            <input type="text" name="event_title" id="event_title" class="" required />
         </div>
      </div>
      <div class="row">
         <div class="input_text ">
            <label for="venue_name">Venue Name<span class="required">*</span></label>
            <input type="text" name="venue_name" id="venue_name" class="" required />
         </div>
      </div>
      <div class="row">
         <div class="input_text ">
            <label for="venue_address">Venue Address<span class="required">*</span></label>
            <input type="text" name="venue_address" id="venue_address" class="" required />
         </div>
      </div>
      <div class="row">
         <div class="input_text ">
            <label for="venue_address_line_2">Venue Address Line 2</label>
            <input type="text" name="venue_address_line_2" id="venue_address_line_2" class="<br />
               <b>Notice</b>:  Undefined index: class in <b>C:\xampp\htdocs\chirrpy\parts\atoms\input-text.php</b> on line <b>5</b><br />
               "  />
         </div>
      </div>
      <div class="row">
         <div class="input_text ">
            <label for="zip_code">Zip Code<span class="required">*</span></label>
            <input type="text" name="zip_code" id="zip_code" class="<br />
               <b>Notice</b>:  Undefined index: class in <b>C:\xampp\htdocs\chirrpy\parts\atoms\input-text.php</b> on line <b>5</b><br />
               " required />
         </div>
      </div>
      <div class="separator"></div>
      <div class="title_2">
         <h3>Event Day</h3>
      </div>
      <div class="separator"></div>
      <div class="row">
         <div class="column_2">
            <div class="input_date">
               <label for="start_date">Start Date<span class="required">*</span></label>
               <input type="text" id="start_date" name="start_date" required readonly />
            </div>
         </div>
         <div class="column_2 last">
            <div class="input_date">
               <label for="end_date">End Date<span class="required">*</span></label>
               <input type="text" id="end_date" name="end_date" required readonly />
            </div>
         </div>
      </div>
      <div class="row">
         <div class="column_2">
            <div class="input_time">
               <label for="start_time">Start Time<span class="required">*</span></label>
               <input type="text" name="start_time" required readonly />
            </div>
         </div>
         <div class="column_2 last">
            <div class="input_time">
               <label for="end_time">End Time<span class="required">*</span></label>
               <input type="text" name="end_time" required readonly />
            </div>
         </div>
      </div>
      <div class="separator"></div>
      <div class="title_2">
         <h3>Event Day 2 <span class="fa fa-close"></span></h3>
      </div>
      <div class="separator"></div>
      <div class="row">
         <div class="column_2">
            <div class="input_date">
               <label for="start_date_2">Start Date<span class="required">*</span></label>
               <input type="text" id="start_date_2" name="start_date_2" required readonly />
            </div>
         </div>
         <div class="column_2 last">
            <div class="input_date">
               <label for="end_date_2">End Date<span class="required">*</span></label>
               <input type="text" id="end_date_2" name="end_date_2" required readonly />
            </div>
         </div>
      </div>
      <div class="row">
         <div class="column_2">
            <div class="input_time">
               <label for="start_time_2">Start Time<span class="required">*</span></label>
               <input type="text" name="start_time_2" required readonly />
            </div>
         </div>
         <div class="column_2 last">
            <div class="input_time">
               <label for="end_time_2">End Time<span class="required">*</span></label>
               <input type="text" name="end_time_2" required readonly />
            </div>
         </div>
      </div>
      <div class="link">
         <a href="#" id="add_event_name" class="title_1">
         Add Event Name		<span class="fa fa-plus"></span>
         </a>
      </div>
   </div>
</div>
<div class="accordion">
   <a href="#" class="title title_1">Main Event Photo<span class="fa fa-chevron-down"></span></a>
   <div class="content">
      <div class="row">
         <div class="upload upload_single"></div>
      </div>
      <div class="row">
         <div class="note">
            <p>RECOMMENDED SIZE: 1600px x 500px</p>
            <p>.PNG or .JPG only</p>
            <p>MAX SIZE: 10mb</p>
         </div>
      </div>
      <div class="row">
         <a href="#" class="link_1">
         Download Photoshop Template
         </a>
      </div>
      <div class="row bar"></div>
      <div class="row">
         <div class="input_checkbox">
            <input type="checkbox" id="disable_main_event_image" />
            <label for="disable_main_event_image" name="disable_main_event_image">Disable Main Event Image</label>
         </div>
      </div>
      <div class="row">
         <div class="input_checkbox">
            <input type="checkbox" id="disable_image_stretching" />
            <label for="disable_image_stretching" name="disable_image_stretching">Disable Image Stretching</label>
         </div>
      </div>
      <div class="row">
         <div class="input_range">
            <label for="auto_darken">Auto Darken</label>
            <input type="range" name="auto_darken" id="auto_darken" min="0" max="100" value="20" />
            <input type="text" name="auto_darken_value" value="50" id="auto_darken_value" readonly="readonly" />
         </div>
      </div>
      <div class="row">
         <div class="input_checkbox">
            <input type="checkbox" id="disable_overlay_text" />
            <label for="disable_overlay_text" name="disable_overlay_text">Disable Overlay Text</label>
         </div>
      </div>
   </div>
</div>
<div class="accordion">
   <a href="#" class="title title_1">Event Description<span class="fa fa-chevron-down"></span></a>
   <div class="content">
      <div class="textarea_editor">
         <textarea name="event_description_textarea"></textarea>
      </div>
   </div>
</div>
<div class="accordion">
   <a href="#" class="title title_1">Content Block<span class="fa fa-chevron-down"></span></a>
   <div class="content">
      <div class="row">
         <div class="title_2">
            <h3>Content Block<span class="fa fa-close"></span></h3>
         </div>
      </div>
      <div class="row">
         <div class="column_2">
            <div class="input_text ">
               <label for="content_title">Title<span class="required">*</span></label>
               <input type="text" name="content_title" id="content_title" class="" required />
            </div>
         </div>
         <div class="column_2 last">
            <div class="input_number">
               <label for="position">Position<span class="required">*</span></label>
               <input type="number" name="position" class=""  required />
            </div>
         </div>
      </div>
      <div class="row">
         <div class="column_2">
            <div class="input_select">
               <label for="kind">Kind</label>
               <select name="kind" id="kind">
                  <option value="text">Text</option>
                  <option value="text">Map</option>
               </select>
            </div>
         </div>
         <div class="column_2 last">
            <div class="input_select">
               <label for="content_width">Width</label>
               <select name="content_width" id="content_width">
                  <option value="text">Full Width</option>
                  <option value="text">Other</option>
               </select>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="textarea_editor">
            <textarea name="event_description_textarea"></textarea>
         </div>
      </div>
      <div class="row">
         <div class="map" id="map"></div>
         <input type="hidden" name="lat" id="lat" value="-32.9201485" />
         <input type="hidden" name="lng" id="lng" value="-68.8483057" />
      </div>
      <div class="row">
         <div class="upload upload_multiple"></div>
      </div>
      <div class="row">
         <div class="upload_queue">
            <h4>Queue</h4>
            <div class="list"></div>
         </div>
      </div>
      <div class="row">
         <div class="note">
            <p>RECOMMENDED SIZE: 1600px x 500px</p>
            <p>.PNG or .JPG only</p>
            <p>MAX SIZE: 10mb</p>
         </div>
      </div>
   </div>
</div>

