<div class="row">
	<div class="input_checkbox">
		<input type="checkbox" id="collect_info" />
		<label for="collect_info" name="collect_info">Collect Same Info for All Ticket Types?</label>
	</div>
</div>
<div class="accordion">
	<a href="#" class="title title_1">General Admission<span class="fa fa-chevron-down"></span></a>
	
	<div class="content">
		<div class="row">
			<div class="input_select">
				<label for="collect_attendde_ifon">Collect Attendde Info From:</label>
				<select name="collect_attendde_ifon" id="collect_attendde_ifon">
					<option value="text">Purchaser Only</option>
					<option value="text">Other</option>
				</select>
			</div>
		</div>
		<div class="separator"></div>
		<div class="title_2">
			<h3>Collect the following info:</h3>
		</div>
		<div class="separator"></div>
		<div class="separator"></div>
		<div class="separator"></div>
		<div class="row_2">
			<div class="column_2">
				<div class="column_label_checkbox_checkbox">
					<div class="label">
						<label>First Name<span class="required">*</span></label>
					</div>
					<div class="checkbox">
						<input id="collect_first_name" name="collect_first_name" type="checkbox">
						<label for="collect_first_name"></label>
					</div>
					<div class="checkbox">
						<input id="collect_first_name_req" name="collect_first_name_req" type="checkbox">
						<label for="collect_first_name_req"></label>
					</div>
					<div class="req">
						<label>REQ</label>
					</div>
				</div>
			</div>
			<div class="column_2 last">
				<div class="column_label_checkbox_checkbox">
					<div class="label">
						<label>Age</label>
					</div>
					<div class="checkbox">
						<input id="collect_age" name="collect_age" type="checkbox">
						<label for="collect_age"></label>
					</div>
					<div class="checkbox">
						<input id="collect_age_req" name="collect_age_req" type="checkbox">
						<label for="collect_age_req"></label>
					</div>
					<div class="req">
						<label>REQ</label>
					</div>
				</div>
			</div>
		</div>
		<div class="row_2">
			<div class="column_2">
				<div class="column_label_checkbox_checkbox">
					<div class="label">
						<label>Last Name<span class="required">*</span></label>
					</div>
					<div class="checkbox">
						<input id="collect_last_name" name="collect_last_name" type="checkbox">
						<label for="collect_last_name"></label>
					</div>
					<div class="checkbox">
						<input id="collect_last_name_req" name="collect_last_name_req" type="checkbox">
						<label for="collect_last_name_req"></label>
					</div>
				</div>
			</div>
			<div class="column_2 last">
				<div class="column_label_checkbox_checkbox">
					<div class="label">
						<label>Gender</label>
					</div>
					<div class="checkbox">
						<input id="collect_gender" name="collect_gender" type="checkbox">
						<label for="collect_gender"></label>
					</div>
					<div class="checkbox">
						<input id="collect_gender_req" name="collect_gender_req" type="checkbox">
						<label for="collect_gender_req"></label>
					</div>
				</div>
			</div>
		</div>
		<div class="row_2">
			<div class="column_2">
				<div class="column_label_checkbox_checkbox">
					<div class="label">
						<label>Email<span class="required">*</span></label>
					</div>
					<div class="checkbox">
						<input id="collect_email" name="collect_email" type="checkbox">
						<label for="collect_email"></label>
					</div>
					<div class="checkbox">
						<input id="collect_email_req" name="collect_email_req" type="checkbox">
						<label for="collect_email_req"></label>
					</div>
				</div>
			</div>
			<div class="column_2 last">
				<div class="column_label_checkbox_checkbox">
					<div class="label">
						<label>Company</label>
					</div>
					<div class="checkbox">
						<input id="collect_company" name="collect_company" type="checkbox">
						<label for="collect_company"></label>
					</div>
					<div class="checkbox">
						<input id="collect_company_req" name="collect_company_req" type="checkbox">
						<label for="collect_company_req"></label>
					</div>
				</div>
			</div>
		</div>
		<div class="row_2">
			<div class="column_2">
				<div class="column_label_checkbox_checkbox">
					<div class="label">
						<label>Phone</label>
					</div>
					<div class="checkbox">
						<input id="collect_phone" name="collect_phone" type="checkbox">
						<label for="collect_phone"></label>
					</div>
					<div class="checkbox">
						<input id="collect_phone_req" name="collect_phone_req" type="checkbox">
						<label for="collect_phone_req"></label>
					</div>
				</div>
			</div>
			<div class="column_2 last">
				<div class="column_label_checkbox_checkbox">
					<div class="label">
						<label>CO Title</label>
					</div>
					<div class="checkbox">
						<input id="collect_co_title" name="collect_co_title" type="checkbox">
						<label for="collect_co_title"></label>
					</div>
					<div class="checkbox">
						<input id="collect_co_title_req" name="collect_co_title_req" type="checkbox">
						<label for="collect_co_title_req"></label>
					</div>
				</div>
			</div>
		</div>
		<div class="row_2">
			<div class="column_2">
				<div class="column_label_checkbox_checkbox">
					<div class="label">
						<label>Address</label>
					</div>
					<div class="checkbox">
						<input id="collect_address" name="collect_address" type="checkbox">
						<label for="collect_address"></label>
					</div>
					<div class="checkbox">
						<input id="collect_address_req" name="collect_address_req" type="checkbox">
						<label for="collect_address_req"></label>
					</div>
				</div>
			</div>
			<div class="column_2 last">
				<div class="column_label_checkbox_checkbox">
					<div class="label">
						<label>CO Phone</label>
					</div>
					<div class="checkbox">
						<input id="collect_co_phone" name="collect_co_phone" type="checkbox">
						<label for="collect_co_phone"></label>
					</div>
					<div class="checkbox">
						<input id="collect_co_phone_req" name="collect_co_phone_req" type="checkbox">
						<label for="collect_co_phone_req"></label>
					</div>
				</div>
			</div>
		</div>
		<div class="separator"></div>
		<div class="separator"></div>
		<div class="title_2">
			<h3>Custom Question: <span class="fa fa-close"></span></h3>
		</div>
		<div class="separator"></div>
		<div class="separator"></div>
		<div class="row">
			<div class="column_select_checkbox">
				<div class="input_select">
					<label for="custom_question_type">Custom Question Type</label>
					<select name="custom_question_type" id="custom_question_type">
						<option value="text">Text</option>
						<option value="text">Other</option>
					</select>
				</div>
				
				<div class="input_checkbox_label_up">
					<input type="checkbox" id="custom_question_req" name="custom_question_req" />
					<label for="custom_question_req">REQ</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="input_text">
				<label for="text_question">Text Question</label>
				<input type="text" name="text_question" id="text_question" class=""  />
			</div>
		</div>
		<div class="link">
			<a href="#" id="add_custom_question" class="title_1">
				Add Custom Question		<span class="fa fa-plus"></span>
			</a>
		</div>
	</div>
</div>
<div class="accordion">
	<a href="#" class="title title_1">VIP<span class="fa fa-chevron-down"></span></a>
	
	<div class="content">
	</div>
</div>