<div class="accordion">
	<a href="#" class="title title_1">URL<span class="fa fa-chevron-down"></span></a>
	<div class="content">
		<div class="row">
			<div class="input_text ">
				<label for="edit_url_extension">Edit URL Extension</label>
				<input type="text" name="edit_url_extension" id="edit_url_extension" class=""  />
			</div>
		</div>
	</div>
</div>
<div class="accordion">
	<a href="#" class="title title_1">Reminder Email<span class="fa fa-chevron-down"></span></a>
	<div class="content">
		<div class="row">
			<div class="input_checkbox">
				<input type="checkbox" id="send_reminder_email" />
				<label for="send_reminder_email" name="send_reminder_email">Send Reminder Email to Attenddes?</label>
			</div>
		</div>
		<div class="row">
			<div class="input_text input_text_one_line">
				<label for="how_many_days_before">How Many Days Before</label>
				<input type="text" name="how_many_days_before" id="how_many_days_before" class=""  />
			</div>
		</div>
		<div class="row">
			<a href="#" class="link_1">
				Preview Reminder Email
			</a>
		</div>
	</div>
</div>
<div class="accordion">
	<a href="#" class="title title_1">Taxes<span class="fa fa-chevron-down"></span></a>
	<div class="content">
		<div class="title_2">
			<h3>Charges Taxes On</h3>
		</div>
		<div class="separator"></div>
		<div class="row">
			<div class="input_checkbox">
				<input type="checkbox" id="general_admission" />
				<label for="general_admission" name="general_admission">General Admission</label>
			</div>
		</div>
		<div class="row">
			<div class="input_checkbox">
				<input type="checkbox" id="vip" />
				<label for="vip" name="vip">VIP</label>
			</div>
		</div>
		<div class="row">
			<div class="input_text ">
				<label for="tax_rate">Tax Rate %</label>
				<input type="text" name="tax_rate" id="tax_rate" class="<br />
				<b>Notice</b>:  Undefined index: class in <b>C:\xampp\htdocs\chirrpy\parts\atoms\input-text.php</b> on line <b>5</b><br />
				"  />
			</div>
		</div>
	</div>
</div>
<div class="accordion">
	<a href="#" class="title title_1">Event Password<span class="fa fa-chevron-down"></span></a>
	<div class="content">
		<div class="row">
			<div class="input_checkbox">
				<input type="checkbox" id="require_password_to_view_event" />
				<label for="require_password_to_view_event" name="require_password_to_view_event">Require Passowrd to View Event</label>
			</div>
		</div>
		<div class="row">
			<div class="input_password <br />
				<b>Notice</b>:  Undefined index: parent_class in <b>C:\xampp\htdocs\chirrpy\parts\atoms\input-password.php</b> on line <b>1</b><br />
				">
				<label for="password_event">Password</label>
				<input type="password" name="password_event" id="password_event" class="<br />
				<b>Notice</b>:  Undefined index: class in <b>C:\xampp\htdocs\chirrpy\parts\atoms\input-password.php</b> on line <b>3</b><br />
				"  />
			</div>
		</div>
	</div>
</div>
<div class="accordion">
	<a href="#" class="title title_1">Price Breaks<span class="fa fa-chevron-down"></span></a>
	<div class="content">
		<div class="title_2">
			<h3>Price Break 1<span class="fa fa-close"></span></h3>
		</div>
		<div class="separator"></div>
		<div class="row">
			<div class="column_2">
				<div class="input_select">
					<label for="price_break_type">Price Break Type</label>
					<select name="price_break_type" id="price_break_type">
						<option value="0">Percentage</option>
						<option value="1">Dollar Amount</option>
						<option value="1">Free Tickets</option>
					</select>
				</div>
			</div>
			<div class="column_2 last">
				<div class="input_text ">
					<label for="price_break_type_amount">Amount</label>
					<input type="text" name="price_break_type_amount" id="price_break_type_amount" class="<br />
					<b>Notice</b>:  Undefined index: class in <b>C:\xampp\htdocs\chirrpy\parts\atoms\input-text.php</b> on line <b>5</b><br />
					"  />
				</div>
			</div>
		</div>
		<div class="row">
			<label for="free_ticket_type">Free Ticket Type</label>
			<select name="free_ticket_type" id="free_ticket_type">
				<option value="0">General Admission</option>
			</select>
		</div>
		<div class="row">
			<div class="column_2">
				<div class="input_select">
					<label for="qualifying_type">Qualifying Type</label>
					<select name="qualifying_type" id="qualifying_type">
						<option value="0"># of tickets</option>
					</select>
				</div>
			</div>
			<div class="column_2 last">
				<div class="input_text ">
					<label for="qualifying_type_amount">Amount</label>
					<input type="text" name="qualifying_type_amount" id="qualifying_type_amount" class="<br />
					<b>Notice</b>:  Undefined index: class in <b>C:\xampp\htdocs\chirrpy\parts\atoms\input-text.php</b> on line <b>5</b><br />
					"  />
				</div>
			</div>
		</div>
		<div class="row bar"></div>
		<div class="title_3">
			<h3>Apply Price Break To:</h3>
		</div>
		<div class="separator"></div>
		<div class="row">
			<div class="input_checkbox">
				<input type="checkbox" id="apply_general_admission" />
				<label for="apply_general_admission" name="apply_general_admission">General Admission</label>
			</div>
		</div>
		<div class="row">
			<div class="input_checkbox">
				<input type="checkbox" id="apply_vip" />
				<label for="apply_vip" name="apply_vip">VIP</label>
			</div>
		</div>
		<div class="row bar"></div>
		<div class="row">
			<div class="input_checkbox">
				<input type="checkbox" id="price_break_across" />
				<label for="price_break_across" name="price_break_across">Price Breaks Across Ticket Types</label>
			</div>
		</div>
		<div class="row bar"></div>
		<div class="title_3">
			<h3>Promo Code Relationship:</h3>
		</div>
		<div class="separator"></div>
		<div class="row">
			<div class="input_checkbox">
				<input type="checkbox" id="allow_promo_codes_with_price" />
				<label for="allow_promo_codes_with_price" name="allow_promo_codes_with_price">Allow Promo Codes with Price</label>
			</div>
		</div>
		<div class="row">
			<div class="input_checkbox">
				<input type="checkbox" id="allow_the_greater_discount_only" />
				<label for="allow_the_greater_discount_only" name="allow_the_greater_discount_only">Allow The Greater Discount Only</label>
			</div>
		</div>
		<div class="row bar"></div>
		<div class="row">
			<div class="input_text ">
				<label for="checkout_banner_text">Checkout Banner Text</label>
				<input type="text" name="checkout_banner_text" id="checkout_banner_text" class="<br />
				<b>Notice</b>:  Undefined index: class in <b>C:\xampp\htdocs\chirrpy\parts\atoms\input-text.php</b> on line <b>5</b><br />
				"  />
			</div>
		</div>
		<div class="link">
			<a href="#" id="add_price_brek" class="title_1">
				Add Price Break		<span class="fa fa-plus"></span>
			</a>
		</div>
	</div>
</div>