<div class="accordion">
	<a href="#" class="title title_1">Ticket Types<span class="fa fa-chevron-down"></span></a>
	<div class="content">
		<div class="row">
			<div class="input_text">
				<label for="ticket_type">Ticket Type<span class="required">*</span></label>
				<input type="text" name="ticket_type" id="ticket_type" class="" required />
			</div>
		</div>
		<div class="row">
			<div class="column_2">
				<div class="column_text_checkbox">
					<div class="input_text">
						<label for="ticket_price">Ticket Price<span class="required">*</span></label>
						<input type="text" name="ticket_price" id="ticket_price" class="" required />
					</div>
					<div class="input_checkbox_label_up">
						<input type="checkbox" id="ticket_free" name="ticket_free" />
						<label for="ticket_free">Free</label>
					</div>
				</div>
			</div>
			<div class="column_2 last">
				<div class="input_text">
					<label for="quantity_available">QTY AVAIL<span class="required">*</span></label>
					<input type="text" name="quantity_available" id="quantity_available" class="" required />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column_2">
				<div class="input_text">
					<label for="fees_pay_by">Fees Pay By<span class="required">*</span></label>
					<input type="text" name="fees_pay_by" id="fees_pay_by" class="" required />
				</div>
			</div>
			<div class="column_2 last">
				<div class="input_number">
					<label for="show_quantity_available">Show Qty Avail?<span class="required">*</span></label>
					<input type="number" name="show_quantity_available" class=""  required />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column_2">
				<div class="input_date">
					<label for="on_sale_start_date">On Sale Start Date<span class="required">*</span></label>
					<input type="text" id="on_sale_start_date" name="on_sale_start_date" required readonly />
				</div>
			</div>
			<div class="column_2 last">
				<div class="input_time">
					<label for="on_sale_start_time">On Sale Start Time<span class="required">*</span></label>
					<input type="text" name="on_sale_start_time" required readonly />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column_2">
				<div class="input_date">
					<label for="on_sale_end_date">On Sale End Date<span class="required">*</span></label>
					<input type="text" id="on_sale_end_date" name="on_sale_end_date" required readonly />
				</div>
			</div>
			<div class="column_2 last">
				<div class="input_time">
					<label for="on_sale_end_time">On Sale End Time<span class="required">*</span></label>
					<input type="text" name="on_sale_end_time" required readonly />
				</div>
			</div>
		</div>
		<div class="row">
			<textarea name="ticket_description" placeholder="Description"></textarea>
		</div>
		<div class="separator"></div>
		<div class="link">
			<a href="#" id="add_ticket_type" class="title_1">
				Add Ticket Type		<span class="fa fa-plus"></span>
			</a>
		</div>
	</div>
</div>