<div class="panel">

	<form>

		<div class="tabs">
			<ul>
				<li class="tab"><a href="#" data-tab="1">Event Details</a></li>
				<li class="tab"><a href="#" data-tab="2">Tickets</a></li>
				<li class="tab active"><a href="#" data-tab="3">Payment Gateways</a></li>
				<li class="tab"><a href="#" data-tab="4">Advanced</a></li>
			</ul>
		</div>

		<div class="tabs_content">
			<div class="tab_content tab_content_1">
				<!-- panel-tab-event-details -->
			</div>
			<div class="tab_content tab_content_2">
				<!-- panel-tab-tickets -->
			</div>
			<div class="tab_content tab_content_3 active">
				<!-- panel-tab-payment-gateways -->
			</div>
			<div class="tab_content tab_content_4">4</div>
		</div>

	</form>

</div>