<div class="preview event_view">

    <div class="event_view_container">

        <div class="event_cover">
            <img src="images/cover.jpg" />
            <div class="overlay_text">
                <h2 class="title">Event Title</h2>
                <p class="location">At: <span>Location</span>
                </p>
                <p class="date">April 16th, 2017</p>
            </div>
        </div>

        <div class="event_information">

            <div class="left">
                <div class="line_1">
                    <h2 class="title">EVENT TITLE</h2>
                    <span class="separator">-</span>
                    <p class="location">At: <span>Location</span>
                    </p>
                </div>
                <div class="line_2">
                    <p class="date">FRI, AUG 26 @ 9:00 AM, Nashville, TN</p>
                </div>
                <div class="line_3">
                    <p class="host">Hosted, By: <span>Organizer</span>
                    </p>
                </div>
            </div>
            <div class="right">
                <a href="#" class="button_1 event_lightbox_open">GET TICKETS</a>
            </div>
        </div>

        <div class="box_content full_width">
            <h2 class="box_content_title_1">DESCRIPTION</h2>
            <div class="text_content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae ea fugit, dolor obcaecati consequatur nostrum illo dolore, sequi fuga eum minus? Quo aliquid magnam soluta adipisci necessitatibus debitis velit quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nulla, nesciunt. Molestiae id inventore iure, repellendus excepturi nemo numquam deserunt sapiente aliquid, autem illum ipsa itaque dicta nostrum ipsam a. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus fuga, veritatis pariatur eos, corporis laborum corrupti rem. Ullam, quidem culpa dolorem saepe, tempore dolor doloribus natus eligendi voluptatem quos facere!
            </div>
        </div>

        <div class="box_content full_width">
            <h2 class="box_content_title_2">TICKET</h2>
            <div class="ticket_table">
                <table>
                    <thead>
                        <tr>
                            <th class="col_1">TICKET TYPE</th>
                            <th class="col_2">PRICE</th>
                            <th class="col_3">TAX & FEES</th>
                            <th class="col_4">AVAIL</th>
                            <th class="col_5">QTY</th>
                        </tr>
                    </thead>
                </table>
                <table class="table_body">
                    <tbody>
                        <tr class="row_1">
                            <td class="col_1">
                                <h3>GENERAL ADMISSION</h3>
                                <p class="date">SUNDAY - 4-12-12</p>
                            </td>
                            <td class="col_2">$20.00</td>
                            <td class="col_3">$2.00</td>
                            <td class="col_4">50</td>
                            <td class="col_5">
                                <div class="input_text">
                                    <input type="text" name="ticket_quantity" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div class="ticket_description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugiat facilis eaque ea deleniti delectus, quibusdam commodi hic alias est distinctio sapiente mollitia eos nihil laborum dicta, nesciunt quis velit.
                                </div>
                                <a href="#" class="show_full title_1">SHOW FULL DESCRIPTION<span class="fa fa-chevron-down"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table_body">
                    <tbody>
                        <tr class="row_1">
                            <td class="col_1">
                                <h3>GENERAL ADMISSION</h3>
                                <p class="date">SUNDAY - 4-12-12</p>
                            </td>
                            <td class="col_2">$20.00</td>
                            <td class="col_3">$2.00</td>
                            <td class="col_4">50</td>
                            <td class="col_5">
                                <div class="input_text">
                                    <input type="text" name="ticket_quantity" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div class="ticket_description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugiat facilis eaque ea deleniti delectus, quibusdam commodi hic alias est distinctio sapiente mollitia eos nihil laborum dicta, nesciunt quis velit.
                                </div>
                                <a href="#" class="show_full title_1">SHOW FULL DESCRIPTION<span class="fa fa-chevron-down"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="table_footer">
                    <div class="row">
                        <div class="total_price">TOTAL $44.79</div>
                    </div>
                    <div class="row">
                        <div class="promo_code">
                            <label for="promo_code">PROMO CODE</label>
                            <input type="text" name="promo_code" id="promo_code" />
                            <button class="button_2">APPLY</button>
                        </div>
                        <div class="buttons one_button">
                            <a href="#" class="button_1">CONTINUE</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="promo_code">
                            <label for="promo_code">PROMO CODE</label>
                            <input type="text" name="promo_code" id="promo_code" />
                            <button class="button_2">APPLY</button>
                        </div>
                        <div class="buttons two_buttons">
                            <a href="#" class="button_1">PAY WITH PAYPAL</a>
                            <a href="#" class="button_1">PAY WITH CARD</a>
                        </div>
                    </div>
                </div>
                <div class="policy">
                    By clicking "CONTINUE", I acknowledge that I have read and agree width the Expect Events terms of service, privacy policy, and cookie policy.
                </div>
            </div>
        </div>

        <div class="box_content half_width">
            <h2 class="box_content_title_2">MAP</h2>
            <div class="map" id="map_1" data-lat="-32.8916448" data-lng="-68.8687189"></div>
        </div>

        <div class="box_content_clear"></div>

        <div class="box_content full_width">
            <h2 class="box_content_title_2">MAP</h2>
            <div class="map" id="map_2" data-lat="-32.8916448" data-lng="-68.8687189"></div>
        </div>

        <div class="box_content_clear"></div>


        <div class="box_content half_width">
            <h2 class="box_content_title_2">VIDEO</h2>
            <div class="video">
                <video controls>
                    <source src="images/dizzy.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="box_content_clear"></div>

        <div class="box_content full_width">
            <h2 class="box_content_title_2">VIDEO</h2>
            <div class="video">
                <video controls>
                    <source src="images/dizzy.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="box_content_clear"></div>

        <div class="box_content half_width">
            <h2 class="box_content_title_2">Gallery Half Page Grid</h2>
            <div class="gallery">
                <img src="images/cover.jpg" />
                <img src="images/e1.jpg" />
                <img src="images/e2.png" />
                <img src="images/cover.jpg" />
            </div>
        </div>

        <div class="box_content half_width right">
            <h2 class="box_content_title_2">Gallery Half Page Grid</h2>
            <div class="stack">
                <img src="images/cover.jpg" />
                <img src="images/e1.jpg" />
                <img src="images/e2.png" />
                <img src="images/cover.jpg" />
            </div>
        </div>

        <div class="box_content_clear"></div>

        <div class="box_content full_width">
            <h2 class="box_content_title_2">Gallery Half Page Grid</h2>
            <div class="gallery">
                <img src="images/cover.jpg" />
                <img src="images/e1.jpg" />
                <img src="images/e2.png" />
                <img src="images/e1.jpg" />
                <img src="images/cover.jpg" />
                <img src="images/cover.jpg" />
                <img src="images/cover.jpg" />
                <img src="images/e2.png" />
            </div>
        </div>

        <div class="box_content full_width">
            <h2 class="box_content_title_2">Gallery Half Page Grid</h2>
            <div class="stack">
                <img src="images/cover.jpg" />
                <img src="images/e1.jpg" />
                <img src="images/e2.png" />
                <img src="images/cover.jpg" />
                <img src="images/cover.jpg" />
                <img src="images/e1.jpg" />
                <img src="images/e2.png" />
                <img src="images/cover.jpg" />
            </div>
        </div>



    </div>





    <div class="event_lightbox">

        <div class="event_lightbox_container">
            <a class="event_lightbox_close"><span class="fa fa-close"></span></a>
            <div class="ticket_table">
                <table>
                    <thead>
                        <tr>
                            <th class="col_1">TICKET TYPE</th>
                            <th class="col_2">PRICE</th>
                            <th class="col_3">TAX & FEES</th>
                            <th class="col_4">AVAIL</th>
                            <th class="col_5">QTY</th>
                        </tr>
                    </thead>
                </table>
                <table class="table_body">
                    <tbody>
                        <tr class="row_1">
                            <td class="col_1">
                                <h3>GENERAL ADMISSION</h3>
                                <p class="date">SUNDAY - 4-12-12</p>
                            </td>
                            <td class="col_2">$20.00</td>
                            <td class="col_3">$2.00</td>
                            <td class="col_4">50</td>
                            <td class="col_5">
                                <div class="input_text">
                                    <input type="text" name="ticket_quantity" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div class="ticket_description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugiat facilis eaque ea deleniti delectus, quibusdam commodi hic alias est distinctio sapiente mollitia eos nihil laborum dicta, nesciunt quis velit.
                                </div>
                                <a href="#" class="show_full title_1">SHOW FULL DESCRIPTION<span class="fa fa-chevron-down"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table_body">
                    <tbody>
                        <tr class="row_1">
                            <td class="col_1">
                                <h3>GENERAL ADMISSION</h3>
                                <p class="date">SUNDAY - 4-12-12</p>
                            </td>
                            <td class="col_2">$20.00</td>
                            <td class="col_3">$2.00</td>
                            <td class="col_4">50</td>
                            <td class="col_5">
                                <div class="input_text">
                                    <input type="text" name="ticket_quantity" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div class="ticket_description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugiat facilis eaque ea deleniti delectus, quibusdam commodi hic alias est distinctio sapiente mollitia eos nihil laborum dicta, nesciunt quis velit.
                                </div>
                                <a href="#" class="show_full title_1">SHOW FULL DESCRIPTION<span class="fa fa-chevron-down"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="table_footer">
                    <div class="row">
                        <div class="total_price">TOTAL $44.79</div>
                    </div>
                    <div class="row">
                        <div class="promo_code">
                            <label for="promo_code">PROMO CODE</label>
                            <input type="text" name="promo_code" id="promo_code" />
                            <button class="button_2">APPLY</button>
                        </div>
                        <div class="buttons one_button">
                            <a href="#" class="button_1">CONTINUE</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="promo_code">
                            <label for="promo_code">PROMO CODE</label>
                            <input type="text" name="promo_code" id="promo_code" />
                            <button class="button_2">APPLY</button>
                        </div>
                        <div class="buttons two_buttons">
                            <a href="#" class="button_1">PAY WITH PAYPAL</a>
                            <a href="#" class="button_1">PAY WITH CARD</a>
                        </div>
                    </div>
                </div>
                <div class="policy">
                    By clicking "CONTINUE", I acknowledge that I have read and agree width the Expect Events terms of service, privacy policy, and cookie policy.
                </div>
            </div>
        </div>

    </div>

</div>