.organizer_dashboard_left
{
	display: none;
}

@include l
{
	.organizer_dashboard_left
	{
		background: $grey_light;
		display: block;
		float: left;
		width: 290px;
	}
	.organizer_dashboard_left .main_menu,
	.organizer_dashboard_left .bottom_menu,
	{
	}
	.organizer_dashboard_left .main_menu ul li a,
	.organizer_dashboard_left .bottom_menu ul li a,
	{
		border-bottom: 1px solid $grey;
		display: block;
		line-height: 40px;
		padding: 0 20px;
		text-transform: uppercase;
	}
	.organizer_dashboard_left .main_menu ul li a:hover,
	.organizer_dashboard_left .bottom_menu ul li a:hover,
	{
		background: $grey;
	}
	.organizer_dashboard_left .main_menu ul li.active,
	.organizer_dashboard_left .bottom_menu ul li.active
	{
		background: $grey;
	}
}