.tabs
{
	line-height: 12px;
	text-align: center;
	text-transform: uppercase;
}
.tabs ul
{
	@include scut-clearfix;
}
.tabs ul li.tab
{
	background: $grey;
	border-bottom: 1px solid $grey_dark;
	border-right: 1px solid $grey_dark;
	display: table;
	font-size: 12px;
	height: 60px;
	float: left;
	font-weight: 700;
	text-align: center;
	@include l
	{
		font-size: 14px;
	}
}

.tabs ul li.tab:last-child
{
	border-right: 0;
}

.tabs ul li.tab a
{
	display: table-cell;
	line-height: 16px;
	vertical-align: middle;
}

.tabs ul li.tab.active,
{
	background: $grey_light;
	border-bottom-color: $grey_light;
}
.tabs ul li.tab:hover
{
	background: $grey_dark;
	color: #fff;
}
.tabs ul li.tab.active:hover
{
	background: $grey_light;
	color: $grey_dark;
}

// Tabs Content

.tabs_content .tab_content
{
	display: none;
	padding: 20px;
}

.tabs_content .tab_content.active
{
	display: block;
}